table, th, td, tr {
    border: 1px solid white;
    min-width: 75px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

tr:nth-child(even) {
    background-color: #21201e;
}

tr:hover {
    background-color: #595959;
}